<p class="help">
  <span class="tag is-pulled-right"><%= comment.user.email %></span>
  <% if comment.user.phone_number %>
    <span class="tag is-pulled-right"><%= comment.user.phone_number %></span>
  <% end %>
  <span class="tag is-info is-pulled-right">
    Posted by <%= comment.user.name %>
    <% if @current_user and comment.user_id == @current_user.id %>
      <%= link_to '', ride_comment_path(comment.ride_id, comment.id), :method => :delete, :class=> "delete is-small"  %>
    <%end %>
  </span>
</p>
<p>
  <%= comment.comment %>
</p>