=content_for :header do
  =render 'layouts/page_header', :title => "Account Preferences"


#edit-user
  =form_for(@current_user) do |f|
    -if @current_user.errors.any?
      #error_explanation
        %h2= pluralize(@ride.errors.count, "error")
        prohibited this ride from being saved:
        %ul
        -@ride.errors.full_messages.each do |msg|
          %li= msg
    
    %p= @current_user.flighttime

    .field
      = f.label "Name", :class => "label"
      .control
        = f.text_field :name, :class => "input"
    .field
      = f.label "Email", :class => "label"
      .control
        = f.text_field :email, :class => "input"
    .field.time-div
      = f.label "Would you like to receive email notifications?", :class => "label"
      .control
        = f.check_box :email_pref

    .actions
      = f.submit "Update profile", :class => "button is-info"
    
