<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Type of ride" %><br />
    <%= f.select :airport, "<option>To LAX</option><option>To Ontario</option><option>From LAX</option><option>From Ontario</option>", :selected => "2" %>
  </div>
  <div class="field">
    <%= f.label "When is your flight?" %><br />
    <%= f.datetime_select :flighttime, :order => [:day, :month, :year], :prompt => {:day => 'Day', :month => "Month", :year => "Year", :hour => "Hour", :minute => "Minute"}, :minute_step => 15, :start_year => 2011, :end_year => 2012%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
