=form_for(@ride) do |f|
  -if @ride.errors.any?
    #error_explanation
      %h2= pluralize(@ride.errors.count, "error")
      prohibited this ride from being saved:
      %ul
      -@ride.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label "type of ride?"
    = f.select :airport, ["To LAX", "To Ontario", "From LAX", "From Ontario"], :selected => "2"
  .field
    = f.label "when is your flight?", id: "js-flight-label"
    = f.datetime_select :flighttime, :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2018, :end_year => 2019
  .field.time-div
    = f.label "when would you like your ride to leave?"
    = f.time_select :ridetime, :ampm => true
  .actions
    = f.submit
