<% terminals = Hash.new
(1..8).each do |i|
  terminals[i.to_s] = i
  end
terminals["Tom Bradley International Terminal"] = 9
%>

<% if @current_user.school == "pomona" && false %>
  <div class="message is-info">
    <div class="message-header">
      As a Pomona Student, you're eligible for a free ride over winter break!
    </div>
    <div class="message-body">
      <div class="field is-grouped">
        <p class="control">
          <input type="checkbox" id="aspc-checkbox" />
        </p>
        <label class="label help">I would like to request a free ride to ONT/LAX funded by ASPC.</label>
      </div>
      <p class="is-size-7">
        <ul>
          <li>- You MUST be a Pomona College student.</li>
          <li>- Due to vehicle space limitations, we ask you limit the number of suitcases/luggage to 2 large items or 1 large + 2 small items</li>
          <li>- Not all departure times may receive transportation; this form’s purpose is to determine which Sagecoach and Sagehen Shuttle times should be finalized based on student ride demand!</li>
          <li>- Again, filling out this form does NOT guarantee a ride!!!</li>
        </ul>
        <br />
        <br />
        We will work to notify you of your assigned time as fast as we can. Thank you for your patience!
        <br />
        <br />
        <strong>This form closes at 5pm on November 22nd.</strong>
        <br />
        <br />
        Any comments, questions, or concerns can be sent to <a href="mailto:operations@aspc.pomona.edu">operations@aspc.pomona.edu</a>.
      </p>
    </div>
  </div>
<% end %>

<div id="non-aspc-free">
  <%= form_for(@ride) do |f| %>
    <% if @ride.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ride.errors.count, "error") %></h2> prohibited this ride from being saved:

        <ul>
          <% @ride.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :is_aspc, :value => "false" %>
    </div>

    <div class="field">
      <%= f.label "Where are you going?", :class => 'label' %>
      <div class="control">
        <%= f.select :airport, ["To LAX", "To Ontario", "From LAX", "From Ontario"], {:selected => "2" }, {:class => 'select'} %>
      </div>
    </div>
    <div class="field">
      <%= f.label "What terminal are you going to?", :class => 'label' %>
      <div class="control">
        <%= f.select :terminal, terminals.except("Tom Bradley International Terminal"), {:selected => "1" }, {:class => 'select'} %>
      </div>
    </div>
    <div class="field">
      <%= f.label "When is your flight?", id: "js-flight-label", :class => 'label' %>
      <div class="control">
        <%= f.datetime_select :flighttime, { :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2019, :end_year => 2020 }, { :class => 'select' } %>
      </div>
    </div>
    <div class="field time-div">
      <%= f.label "When is the earliest time you’d be willing to leave for your flight?", :class => 'label' %>
      <div class="control">
        <%= f.datetime_select :ridetime, { :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2019, :end_year => 2020 }, { :class => 'select' } %>
      </div>
    </div>
    <div class="field">
      <%= f.label "What is your phone number?", :class => 'label' %>
      <div class="control">
        <%= number_field_tag :phone_number, nil, :class => 'input' %>
      </div>
    </div>
    <br />
    <div class="control">
      <%= f.submit :class => 'button is-primary' %>
    </div>
  <% end %>
</div>

<div id="aspc-free" style="display: none;">
  <%= form_for(@ride) do |f| %>
    <% if @ride.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ride.errors.count, "error") %></h2> prohibited this ride from being saved:

        <ul>
          <% @ride.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :is_aspc, :value => "true" %>
    </div>

    <div class="field">
      <%= f.label "Where are you going?", :class => 'label' %>
      <div class="control">
        <%= f.select :airport, ["To LAX", "To Ontario"], {:selected => "2" }, {:class => 'select'} %>
      </div>
    </div>
    <div class="field">
      <%= f.label "What terminal are you going to?", :class => 'label' %>
      <div class="control">
        <%= f.select :terminal, terminals, {:selected => "1" }, {:class => 'select'} %>
      </div>
    </div>
    <div class="field">
      <%= f.label "When is your flight?", id: "js-flight-label", :class => 'label' %>
      <div class="control">
        <%= f.datetime_select :flighttime, { :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2019, :end_year => 2020 }, { :class => 'select' } %>
      </div>
    </div>

    <div class="field time-div" >
      <%= f.label "When is the earliest time you’d be willing to leave for your flight?", :class => "label" %>
      <div class="control">
        <%= f.datetime_select :ridetime, { :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2019, :end_year => 2020 }, { :class => 'select' } %>
      </div>
    </div>

    <div class="field">
      <%= f.label "What is your phone number?", :class => 'label' %>
      <div class="control">
        <%= number_field_tag :phone_number, nil, :class => 'input' %>
      </div>
    </div>

    <br />
    <div class="control">
      <%= f.submit :class => 'button is-primary' %>
    </div>
  <% end %>


</div>

<script>
  (function() {
      let nonAspcForm = $("#non-aspc-free")[0];
      let aspcForm = $("#aspc-free")[0];
      let aspcCheckbox = $("#aspc-checkbox");
      aspcCheckbox.click(function () {
          nonAspcForm.style.display = aspcCheckbox[0].checked ? "none" : "block";
          aspcForm.style.display = aspcCheckbox[0].checked ? "block" : "none";
      });
  })();
</script>