<div class="field">
  <p>I want to request a free ride to ONT/LAX funded by ASPC. By doing so, I acknowledge that if I join a ride outside this program, either via a ride publicly listed on the 5C Rideshare website or otherwise, I will forfeit my request for a free ride.</p>
  <input type="checkbox" id="aspc-checkbox" />
</div>

<div id="non-aspc-free">
  <%= form_for(@ride) do |f| %>
    <% if @ride.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ride.errors.count, "error") %></h2> prohibited this ride from being saved:

        <ul>
          <% @ride.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :is_aspc, :value => "false" %>
    </div>

    <div class="field">
      <%= f.label "type of ride?" %>
      <%#= f.select :airport, ["To LAX", "To Ontario", "From LAX", "From Ontario"], :selected => "2" %>
    </div>
    <div class="field">
      <%= f.label "when is your flight?", id: "js-flight-label" %>
      <%= f.datetime_select :flighttime, :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2018, :end_year => 2019 %>
    </div>
    <div class="field time-div">
      <%= f.label "when would you like your ride to leave?" %>
      <%= f.datetime_select :ridetime, :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2018, :end_year => 2019 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div id="aspc-free" style="display: none;">
  <%= form_for(@ride) do |f| %>
    <% if @ride.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ride.errors.count, "error") %></h2> prohibited this ride from being saved:

        <ul>
          <% @ride.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :is_aspc, :value => "true" %>
    </div>

    <div class="field">
      <%= f.label "type of ride?" %>
      <%= f.select :airport, ["To LAX", "To Ontario", "From LAX", "From Ontario"], :selected => "2" %>
    </div>
    <div class="field">
      <%= f.label "when is your flight?", id: "js-flight-label" %>
      <%= f.datetime_select :flighttime, :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2018, :end_year => 2019 %>
    </div>
    <div class="field">
      <%= f.label "which of these ride times would be suitable for you?" %>
      <%# Ride.where(is_aspc: true).each do |r| %>
        <%#= button_to r.ridetime, { :controller => "rides", :action => "join", :id => r }, { :method => :get } %>
        <p><%#= link_to r.airport + " " + r.ridetime.strftime("%m/%d/%Y %I:%M%p"), { :controller => "rides", :action => "join", :id => r }, :confirm => "Are you sure you want to join this ride?" %></p>
      <%# end %>
      <div class="field" id="existing-aspc-rides">
      </div>
    </div>
    <div class="field">
      <%= f.label "If none of the above rides work, when would you like your ride to leave?" %>
      <%= f.datetime_select :ridetime, :order => [:day, :month, :year], :prompt => {:day => 'day', :month => "month", :year => "year", :hour => "hour", :minute => "minute", }, :ampm => true, :minute_step => 15, :start_year => 2018, :end_year => 2019 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  
</div>

<script>
  $(document).ready(function() {
    $("#ride_airport").change(function() {
      var airport = $(this).val();

      switch (airport) {
        case "To Ontario": var airport_id = 1; break;
        case "From Ontario": var airport_id = 2; break;
        case "To LAX": var airport_id = 3; break;
        case "From LAX": var airport_id = 4; break;
      }
      
      $.get("/5crideshare/rides/airport.json", { id: airport_id }, function(data) {
        $("#existing-aspc-rides").html("");
        $.each(data, function(index, value) {
          $("#existing-aspc-rides").append("<p><a href='/5crideshare/rides/join?id=" + value.id + "'>" + value.airport + " " + value.ridetime + "</a></p>");
        });
      });
    });
  });
  
  var nonAspc = $("#non-aspc-free")[0];
  var aspc = $("#aspc-free")[0];
  var aspcCheckbox = $("#aspc-checkbox");

  aspcCheckbox.click(function() {
    nonAspc.style.display = aspcCheckbox[0].checked ? "none" : "block";
    aspc.style.display = aspcCheckbox[0].checked ? "block" : "none";
    // nonAspc.style.visibility = aspcCheckbox[0].checked ? "hidden" : "visible";
    // aspc.style.visibility = aspcCheckbox[0].checked ? "visible" : "hidden";
  });
</script>