#rides
  -if @current_user
    #create-new-ride= link_to 'Create a new ride!', new_ride_path
  -else
    #create-new-ride= link_to 'Create a new ride!', new_ride_path, :confirm => "You must sign in with Facebook before you can create a new ride. Would you like to sign in with facebook now?", :notice => 'You successfully signed in.'

  -if @ftype == "Arrival"
    #aflight-header
      %h2 Date
      %h2.aftime= "Flight #{@ftype} Time"
      %h2.numpass= "# of PAX"
      .clear
  -else
    #dflight-header
      %h2 Date
      %h2.dftime= "Flight Time"
      %h2.drtime Ride Time
      %h2.dnumpass= "PAX"
      .clear

  
  -if @rides
    -@rides.each do |ride| 
      -unless ride.users.count == 0
        .ride-container
          -if @ftype == "Arrival"
            .aride-info
              %p.flight-date= ride.flighttime.strftime("%B %d %Y")
              %p.flight-time= ride.flighttime.strftime("%I:%M %p")
              %p.ride-count= ride.users.size
          -else
            .dride-info
              %p.flight-date= ride.flighttime.strftime("%B %d %Y")
              %p.flight-time= ride.flighttime.strftime("%I:%M %p")
              -if ride.ridetime
                %p.ride-time= ride.ridetime.strftime("%I:%M %p")
              -else
                %p.ride-time Currently Unspecified 
              %p.ride-count= ride.users.size
              = link_to '', ride
              .clear
