.rides
  #dflight-header
    %h2 Date
    %h2.dftime= "Ride Time"
    %h2.dnumpass= "Riders"
    .clear

  
  -if @rides
    -@rides.each do |ride| 
      -unless ride.users.count == 0
        .ride-container{:class => ("member" if (@current_user && (@urides.member? ride)))}
          .dride-info
            %p.flight-date= ride.flighttime.strftime("%B %d %Y")
            -if ride.ridetime
              %p.ride-time= ride.ridetime.strftime("%I:%M %p")
            -else
              %p.ride-time Currently Unspecified 
            %p.ride-count= ride.users.size
            = link_to '', ride
            .clear
