<p id="notice"><%= notice %></p>
<p id="alert"><%= alert%></p>

<p>
  <b>Airport:</b>
  <%= @ride.airport %>
</p>

<p>
  <b>Date:</b>
  <%= @ride.date %>
</p>

<p>
  <b>Time:</b>
  <%= @ride.time %>
</p>

<p>
  <b>Users:</b>
  <%@users.each do |user|%>
    <%= user.name%>
  <%end%>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
