<script>
</script>

#show-container

  #backedit
    -if @current_user
      -unless @ride.users.find_by_id(@current_user.id)
        =link_to 'Join Ride',{ :controller => "rides", :action => "join", :id => @ride }, :confirm => "Are you sure you want to join this ride?"
      -else
        =link_to 'Leave Ride', { :controller => "rides", :action => "leave", :id => @ride }, :confirm => "Are you sure you want to leave this ride?"
      -if @ride.owner_id == @current_user.id
        =link_to 'Edit', edit_ride_path(@ride)
    -else
      =link_to 'Join Ride',{ :controller => "rides", :action => "join", :id => @ride }, :confirm => "You must sign in before you can join a ride. Would you like to sign in now?"
    -if :back == '/rides/new'
      =link_to root_ul
    -else
      =link_to 'Back', :back

  %p
    %b type of ride:
    = @ride.airport

  %p
    %b flight date:
    = @ride.flighttime.strftime("%B %d %Y")

  -if @ride.airport.split(" ")[0] == "To" && @ride.ridetime
    %p
      %b flight time:
      = @ride.flighttime.strftime("%I:%M %p")
    %p
      %b preferred ride time:
      = @ride.ridetime.strftime("%I:%M %p")
  -else
    %p
      %b shuttle arrival time:
      = @ride.flighttime.strftime("%I:%M %p")

  %p
    %b current riders:
    </br>
  .riders
    -@users.each do |user|
      .rider
        .rider-name=user.name
    .clear

  .booking
    =link_to "book a super shuttle", "https://www.supershuttle.com/default.aspx?GC=FPCS2"
    =link_to "book a cab", "https://www.ridecharge.com/s/ca-los-angeles"
