#show-container
  %p.notice= notice
  %p.alert= alert

  #backedit      
    -if @current_user.rides.find_by_id(@ride.id)    
      = link_to 'Edit', edit_ride_path(@ride)
    = link_to 'Back', :back
  
  %p
    %b Type of Ride:
    = @ride.airport

  %p
    %b Flight Date:
    = @ride.flighttime.strftime("%B %d %Y")
    
  %p
    %b Arrival/Departure Time:
    = @ride.flighttime.strftime("%I:%M %p")

  %p
    %b Current Riders:
    </br>
  .riders
    -@users.each do |user|
      .rider
        %img{:src => user.fbimage}
        =link_to user.name, user.fblink
    .clear



  -if @ride.users.find_by_id(@current_user.id)
    .fb-comments{:data => {:href => request.url, :width => 500, :num => {:posts => 2}}}
