#header-container
  #top-header
    .brand
      %a.aspc-logo{:href => 'http://aspc.pomona.edu'}
        %img.aspc-logo__image{:src => asset_path("aspc_logo.png")}
        .aspc-logo__text
          .aspc-logo__title
            ASPC
          .aspc-logo__subtitle
            Associated Students of Pomona College
      %h1.brand__title
        %a{:href => root_url} 5C ride share

    -if signed_in?
      = link_to "sign out", :controller => "sessions", :action => "destroy"
    -else
      =link_to "log in", :controller => "users", :action => "login"
    = link_to "home", root_url
  #nav
    =link_to "to ontario", :controller => "rides", :action => "airport", :id => "1"
    =link_to "from ontario", :controller => "rides", :action => "airport", :id => "2"
    =link_to "to LAX", :controller => "rides", :action => "airport", :id => "3"
    =link_to "from LAX", :controller => "rides", :action => "airport", :id => "4"
    .clear
  -if signed_in?
    #create-new-ride
      = link_to "settings", edit_user_path(@current_user)
      = link_to 'new ride', new_ride_path
      = link_to "your rides", user_path(@current_user)
  -else
    #create-new-ride
      = link_to 'new ride', new_ride_path, :confirm => "You must sign in before you can create a new ride. Would you like to sign in now?", :notice => 'You successfully signed in.'

