#header-container
  #top-header
    %h1 
      %a{:href => root_url} 5C ride share
    
    <div class="fb-like" data-href="http://5crideshare.jessepollak.me" data-send="false" data-width="450" data-show-faces="true"></div>
    -if signed_in?
      = link_to "sign out", :controller => "sessions", :action => "destroy"
    -else
      =link_to "log in with facebook", :controller => "sessions", :action => "login"
    = link_to "home", root_url
  #nav
    =link_to "to ontario", :controller => "rides", :action => "toontario"
    =link_to "from ontario", :controller => "rides", :action => "fromontario"
    =link_to "to LAX", :controller => "rides", :action => "tolax"
    =link_to "from LAX", :controller => "rides", :action => "fromlax"
    .clear
  -if signed_in?
    #create-new-ride
      = link_to "settings", edit_user_path(@current_user)
      = link_to 'new ride', new_ride_path
      = link_to "your rides", user_path(@current_user)
  -else
    #create-new-ride
      = link_to 'new ride', new_ride_path, :confirm => "You must sign in with Facebook before you can create a new ride. Would you like to sign in with facebook now?", :notice => 'You successfully signed in.'

  