<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag%>
  <meta property="og:title" content="5C ride share" />
  <meta property="og:description" content="Find rides to and from the airport at the Claremont Colleges." />
  <meta property="fb:app_id" content="300857556614018"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://5crideshare.com"/>
  <meta property="og:image" content='<%= image_url "og_image" %>'/>
</head>
<body>
  <div id="fb-root"></div>

  <script>
    var current_user_id = <%=
      if @current_user
        @current_user.id
      else -1
      end%>
  </script>


  <%= render 'layouts/header'%>

  <%if flash[:notice]%>
    <p class = "notice">
      <%=notice%><br>
      <%=flash[:notice_subtitle]%>
    </p>
  <%end%>
  <%if flash[:end]%>
    <p class = "alert">
      <%=alert%>
    </p>
  <%end%>

  <section class="section application-body-container">
    <%= yield :header %>
    <section class="section application-content-section">
      <div class="container application-content-container">
        <%= yield %>
      </div>
    </section>
  </section>

  <%= render 'layouts/footer'%>
  <%= render 'layouts/ga' if Rails.env.production?%>
</body>
</html>
