<!DOCTYPE html>
<html>
<head>
  <title>Shuttleshare</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=300857556614018";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  <script>
    if(window.opener) {
      window.opener.location.reload(true);
      window.close()
    }
  </script>
    
  <%= render 'layouts/header'%>
  
  <div class = "main-container">
    
    <%= yield %>
    <div class="fb-like" data-href="http://5crideshare.jessepollak.me" data-send="false" data-width="450" data-show-faces="true"></div>
  </div>

  <%= render 'layouts/footer'%>
  <%= render 'layouts/ga' if RAILS_ENV == 'production'%>
</body>
</html>
