<!DOCTYPE html>
<html>
<head>
  <title>5C Ride Share</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=300857556614018";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    
  <%= render 'layouts/header'%>
  
  <div class = "main-container">
    
    <%if flash[:notice]%>
    <p class = "notice">
      <%=notice%>
    </p>
    <%end%>
    <%if flash[:end]%>
    <p class = "alert">
      <%=alert%>
    </p>
    <%end%>
    
    <%= yield %>
  </div>

  <%= render 'layouts/footer'%>
  <%= render 'layouts/ga' if Rails.env.production?%>
</body>
</html>
